{% extends 'layout.html' %}

{% block content %}
    <div class="container" style="margin: 40px auto">
        <div class="card">
            <div class="card-header">新建项目</div>
            <div class="card-body">
                <form action="/project/add/" method="post" novalidate>
                    {% csrf_token %}
                    {% for foo in form %}
                        <div class="form-group">
                            <label>{{ foo.label }}</label>
                            {{ foo }}
                        <span style="color: red">{{ foo.errors.0 }}</span>
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">提交</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}