{% extends 'layout.html' %}

{% block content %}
    <div class="container" style="margin: 40px auto">

        <div class="row">
            <div class="col-auto">
                <a type="button" href="/user/add" class="btn btn-success" style="margin-bottom: 20px">
                    <i class="fa fa-plus" aria-hidden="true" ></i>
                    添加员工
                </a>
            </div>
            <div class="col-md">
                <form class="form-inline float-right">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"
                                                                                          aria-hidden="true"></i>
                    </button>
                </form>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <i class="fa fa-list" aria-hidden="true"></i>
                员工列表
            </div>
            <div>
                <table class="table table-striped table-bordered">
                    <thead>
                    <th style="text-align: center">ID</th>
                    <th style="text-align: center">姓名</th>
                    <th style="text-align: right">密码</th>
                    <th style="text-align: right">性别</th>
                    <th style="text-align: right">余额</th>
                    <th style="text-align: right">部门</th>
                    <th style="text-align: right">加入时间</th>
                    <th style="text-align: right">操作</th>
                    </thead>
                    <tbody>
                    {% for foo in employee %}
                        <tr>
                            <td style="text-align: center">{{ foo.id }}</td>
                            <td style="text-align: center">{{ foo.name }}</td>
                            <td style="text-align: center">{{ foo.password }}</td>
                            <td style="text-align: center">{{ foo.get_gender_display }}</td>
                            <td style="text-align: center">{{ foo.salary }}</td>
                            <td style="text-align: center">{{ foo.depart.title }}</td>
                            <td style="text-align: center">{{ foo.create_time|date:"Y-m-d" }}</td>
                            <td style="text-align: center">x</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>


{% endblock %}