{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
    <style>
        body {
            background-image: url("{% static 'images/background001.jpg' %}");
            background-size: cover;
        }

        .container {
            height: 480px;
            width: 400px;
            margin: 200px auto;
            border: 1px solid #aaa;
            border-radius: 10px;
            padding: 30px;
            box-shadow: 5px 5px 10px #aaa;
        }
    </style>
</head>
<body>
<div class="container">
    <form method="post" action="/login/" novalidate>
        {% csrf_token %}
        <h2 class="h2" align="center">用户登录</h2>


        <div class="form-group">
            <label>用户名</label>
            {{ form.username }}
            <span style="color: red">{{ form.username.errors.0 }}</span>
        </div>
        <div class="form-group">
            <label>密码</label>
            {{ form.password }}
            <span style="color: red">{{ form.password.errors.0 }}</span>
        </div>


        <div class="form-group">
            <label for="id_code">验证码</label>
            <div class="row">
                <div class="col-sm-6">
                    {{ form.code }}
                    <span style="color: red">{{ form.code.errors.0 }}</span>
                </div>
                <div class="col-sm-6">
                    <img id="image_code" src="/image/code/" alt="验证码">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">登录</button>
    </form>
</div>
</body>
</html>